# Working with APIs in Pyhton

PyCoinGecko (CoinGecko API)
CoinGecko is a cryptocurrency data provider. 
The PyCoinGecko library is a Python wrapper for their API.

In [2]:
from pycoingecko import CoinGeckoAPI

In [3]:
cg = CoinGeckoAPI()

In [8]:
bitcoindata = cg.get_coin_market_chart_by_id(id = "bitcoin", vs_currency = "usd", days = 7)

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(bitcoindata["prices"], columns = ['timestamp', 'price'])
df['date'] = pd.to_datetime(df['timestamp'], unit='ms')

In [11]:
df

         timestamp          price                    date
0    1747242389909  103410.522593 2025-05-14 17:06:29.909
1    1747246297277  103236.433831 2025-05-14 18:11:37.277
2    1747249481943  103360.773155 2025-05-14 19:04:41.943
3    1747253395331  103462.917929 2025-05-14 20:09:55.331
4    1747256695158  103541.329914 2025-05-14 21:04:55.158
..             ...            ...                     ...
164  1747832623359  106597.246634 2025-05-21 13:03:43.359
165  1747836205757  107167.011550 2025-05-21 14:03:25.757
166  1747839755411  108191.045746 2025-05-21 15:02:35.411
167  1747843257775  108946.199459 2025-05-21 16:00:57.775
168  1747844511000  109039.324831 2025-05-21 16:21:51.000

[169 rows x 3 columns]