# Lists and Operations on Lists

In [2]:
#creating a simple list> name, age, cgpa
list1 = ["Ali", 22, 3.5]
list1

['Ali', 22, 3.5]

In [3]:
#positive indexing
print(list1[0])
print(list1[1])
print(list1[2])

Ali
22
3.5

In [4]:
#negative indexing
print(list1[-1])
print(list1[-2])
print(list1[-3])

3.5
22
Ali

In [5]:
#nesting another list in existing
list1 = ["Ali", 22, 3.5, ["Babar", 20, 2.8] ]
list1

['Ali', 22, 3.5, ['Babar', 20, 2.8]]

In [6]:
#slicing
print(list1[1:3])
print(list1[2:4])

[22, 3.5]
[3.5, ['Babar', 20, 2.8]]

In [7]:
#extending the list
list1
list1.extend(["Zahid", 24, 3.2])
list1

['Ali', 22, 3.5, ['Babar', 20, 2.8], 'Zahid', 24, 3.2]

In [9]:
#appending the list
list1.append(["Virat", 35, 3.3])
list1

['Ali', 22, 3.5, ['Babar', 20, 2.8], 'Zahid', 24, 3.2, ['Virat', 35, 3.3]]

In [11]:
#changing the elements of lists
list2 = ["Smith", 25, 45.67]
list2

['Smith', 25, 45.67]

In [12]:
list2[0] = "Kane"
list2

['Kane', 25, 45.67]

In [15]:
#spliting strings into the lists - by default space
print("Abdul Qadir".split())

['Abdul', 'Qadir']

In [16]:
# Copy (copy by reference) the list A

A = ["Rohit", 33, 45.78]
B = A
print('A:', A)
print('B:', B)

A: ['Rohit', 33, 45.78]
B: ['Rohit', 33, 45.78]

## Practice

In [17]:
items = ["Watch","Laptop","Shoes","Pen","Clothes"]
items

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

In [18]:
items.append("Bag")
items

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Bag']

In [21]:
items[0]

'Watch'

In [22]:
for item in items:
    print(item)

Watch
Laptop
Shoes
Pen
Clothes
Bag

In [25]:
#extend()
fruits = ["apple", "banana", "orange"] 
more_fruits = ["mango", "grape"] 
fruits.extend(more_fruits) 
print(fruits)

['apple', 'banana', 'orange', 'mango', 'grape']

In [27]:
#insert
my_list = [1, 2, 3, 4, 5] 
my_list.insert(2, 6) 
print(my_list)

[1, 2, 6, 3, 4, 5]

In [28]:
#pop()
my_list = [10, 20, 30, 40, 50] 
removed_element = my_list.pop(2) 
print(removed_element) 
print(my_list)

30
[10, 20, 40, 50]

In [30]:
#reverse()
my_list = [1, 2, 3, 4, 5] 
my_list.reverse() 
print(my_list)

[5, 4, 3, 2, 1]

In [31]:
#slicing
my_list = [1, 2, 3, 4, 5] 
print(my_list[1:4]) 
print(my_list[:3])

[2, 3, 4]
[1, 2, 3]

In [32]:
#sorting
my_list = [5, 2, 8, 1, 9,13,24,65,876] 
my_list.sort() 
print(my_list)

[1, 2, 5, 8, 9, 13, 24, 65, 876]